:root {
  --term-bg: #312d4486;
  --term-border: #8b75f786;
  --term-text: #b9b7f1d3;
  --term-prompt: rgb(226, 143, 65);
  --bg-color: #141414;
  --bg-image: url('data:image/svg+xml;utf8,<svg width="800" height="800" viewBox="0 0 800 800" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_161_2)"><rect width="800" height="800" fill="%23141414"/><path opacity="0.2" d="M265 541.5C265 647.263 177.248 733 69 733C-39.2478 733 -127 647.263 -127 541.5C-127 435.737 -39.2478 350 69 350C177.248 350 265 435.737 265 541.5Z" fill="url(%23paint0_radial_161_2)"/><path opacity="0.2" d="M792 -30C792 123.535 667.535 248 514 248C360.465 248 236 123.535 236 -30C236 -183.535 360.465 -308 514 -308C667.535 -308 792 -183.535 792 -30Z" fill="url(%23paint1_radial_161_2)"/><circle opacity="0.2" cx="30" cy="104" r="134" fill="url(%23paint2_radial_161_2)"/><circle opacity="0.2" cx="690" cy="643" r="309" fill="url(%23paint3_radial_161_2)"/></g><defs><radialGradient id="paint0_radial_161_2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(69 541.5) rotate(90) scale(191.5 196)"><stop stop-color="%235E17EB"/><stop offset="1" stop-color="%238C8C8C" stop-opacity="0"/></radialGradient><radialGradient id="paint1_radial_161_2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(514 -30) rotate(90) scale(278)"><stop stop-color="%235E17EB"/><stop offset="1" stop-color="%238C8C8C" stop-opacity="0"/></radialGradient><radialGradient id="paint2_radial_161_2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(30 104) rotate(90) scale(134)"><stop stop-color="%23FF914D"/><stop offset="1" stop-color="%238C8C8C" stop-opacity="0"/></radialGradient><radialGradient id="paint3_radial_161_2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(690 643) rotate(90) scale(309)"><stop stop-color="%23FF914D"/><stop offset="1" stop-color="%238C8C8C" stop-opacity="0"/></radialGradient><clipPath id="clip0_161_2"><rect width="800" height="800" fill="white"/></clipPath></defs></svg>');
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inter {
  border: 5px solid var(--term-border);
}

#commandDiv {
  overflow-x: auto;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: var(--term-bg);
}

:root {
  --size: 1.4;
}

.terminal {
  --color: var(--term-text); /* terminal text color */
}

.cmd,
.cmd-prompt {
  --color: var(--term-prompt);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 50px;
}

.flex-container {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 80vh;
  width: 70%;
  margin: auto;
  gap: 30px;
}

.box-cont {
  width: 70%;
}

.box-right {
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* Responsive adjustments for mobile screens */
@media screen and (max-width: 768px) {
  .container {
    margin: 10px;
    height: 100vh;
  }

  .flex-container {
    flex-direction: column;
    width: 100%;
    height: 80vh;
    gap: 15px;
  }

  .box-right {
    padding: 15px;
  }

  .inter {
    border-width: 5px;
  }

  #commandDiv {
    height: 100vh;
    width: 90vw;
  }
}
