/* DEBUGGING */
/* *{
  box-sizing: border-box;
  border: 0.1px chartreuse solid;
} */

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(51, 51, 51);
}

#main {
  /* display: none; */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.inter {
  border: 5px solid #9e9e9e9e;
  /* padding: 20px; */
}

#commandDiv {
  /* height: 65vh; */
  /* width: 42vw; */
  overflow-x: auto;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* justify-content: center; */

  background-color: rgb(39, 39, 39);
}

/* TERMINAL COLOR */
/* TERMINAL COLOR */
/* TERMINAL COLOR */
/* TERMINAL COLOR */
/* TERMINAL COLOR */

:root {
  --size: 1.4;
}

.terminal {
  --color: rgb(200, 200, 200);
}

.cmd {
  --color: rgb(215, 100, 100);
}

.cmd-prompt {
  --color: rgb(215, 100, 100);
}

/* HTML LAYOUT */
/* HTML LAYOUT */
/* HTML LAYOUT */
/* HTML LAYOUT */
/* HTML LAYOUT */

.container {
  display: flex;
  justify-content: center;

  align-items: stretch;
  align-content: stretch;

  flex-direction: column;
  flex-wrap: nowrap;

  /* border: 3px solid #7f9cf4; */

  margin: 50px;
}

.flex-container {
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  flex-wrap: nowrap;

  height: 80vh;
  width: 70%;

  margin: auto;
  gap: 30px;
}

.box-cont {
  /* align-self:stretch; */
  width: 70%;
  border: 2px solid #ffffff;
}

.box-right {
  width: 100%;
  height: 100%;
  padding: 20px;
}
